/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

header {
  background-color: #0099FF;
  color: #fff;
  min-width: 100%;
  padding: 15px 0;
}


h1, h2 {
  font: 400 40px/1.3 'Bree Serif', Georgia, serif;
  padding: 5px 6px;

}

.tagline {
  font: 400 50px/1.3 'Bree Serif', Georgia, serif;
  padding-top: 10px;
}

nav {
  font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}


body {
  background-color: #33CC99;
  color: #4B0082;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}

head {
  font-size: 1.17em;
  text-align: center;
  color: #4B0082;
  padding: 0;
  margin: 0;

}

table {
  font-size: 1.17em;
  text-align: left;
}

#page-wrap {
  width: 800px;
  margin: 60px auto;
  position: relative;
}


/*-----Images----------------------*/

.accessibility {
  width: 785px;
  height:285px;
}

.logo {
  width: 200px;
  height: 100px;
  border: 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
  box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
}


.nssa {
  width: 75px;
  height: 75px;
  padding: 5px;
}
/*-----Banner----------------------*/


#banner {
  width: 800px;
  height: 300px;
  position: relative;
  border: 8px solid #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

#banner div {
  position: absolute;
}

#banner div:nth-child(3) {
  -webkit-animation: wipe 6s infinite;
  -webkit-animation-delay: 3s;
  -webkit-animation-direction: alternate;
  -webkit-mask-size: 2000px 2000px;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
      color-stop(0.00,  rgba(0,0,0,1)),
      color-stop(0.45,  rgba(0,0,0,1)),
      color-stop(0.50,  rgba(0,0,0,0)),
      color-stop(0.55,  rgba(0,0,0,0)),
      color-stop(1.00,  rgba(0,0,0,0)));
}

@-webkit-keyframes wipe {
  0% {
    -webkit-mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: -1200px -1200px;
  }
}


/* Navigation -------------------- */

#nav-trigger {
  display: none;
  text-align: center; }
  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #0099FF;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color: #00CCFF; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-bottom: 10px;
}

nav#nav-main {
  background-color: #0099FF;
  padding: 10px 0; }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px #fff;
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 30px; }
    nav#nav-main a:hover {
      background-color: #00CCFF;
      color: #fff; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #0099FF; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #fff; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: #00CCFF;
      color: #fff; }


/* Content Area-------------------- */

.col{
  background-color: #0099FF;
  border: solid 11px transparent;
  box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
}

.primary {
  display: inline-block;
  width: 50%;
  font-size: 1.125em;
  list-style: none;
  float: left;
  text-align: left;
}

.secondary {
  display: inline-block;
  width: 50%;
  font-size: 1.125em;
  list-style: none;
  float: right;
  text-align: left;
}

.tertiary {
  display: inline-block;
  clear: both;
}

.tertiary ul {
  list-style: decimal;
  font-size: 1.125em;
  text-align: left;
}


/*API styling-----------------*/

#weather {
  margin: 20px;
  padding: 10px;
}


/* Footer -------------------- */


.main-footer {
	text-align: center;
	padding:  5em 3em;
	background: ##33CC99;
}


/* Media Queries -------------------- */

@media (min-width: 769px) {
    .row {
     display: flex
     flex-wrap: wrap;
     width: 50%;
     margin: 0 auto;
   }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 900px) {
  #nav-trigger {
    display: block;
    margin-top: 30px;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
  }

    #banner {
      display: none;
    }

    .primary {
    width: auto;
    float: none;
  }

   .secondary {
    width: auto;
    float: none;
    margin-left: 0px;
    padding-bottom: 2px;
  }

   .teritary {
    width: auto;
    float: none;
  }
}


@media screen and (min-width: 1024px) {

nav#nav-main{
  margin-top: 40px;
}

 .row {
    width: 100%;
    max-width: 1150px;
  }

  .col{
    padding: 0.5%;
    margin: 10px;
  }

  .container {
		width: 80%;
		max-width: 1150px;
	}

  .primary {
    width: 45%;
    display: inline-block;
    font-size: 1.125em;
    list-style: none;
    float: left;
    text-align: left;
  }
  .secondary {
    width: 45%;
    float: right;
    display: inline-block;
    font-size: 1.125em;
    list-style: none;
    text-align: left;
  }

  .teritary {
    clear: both;
    width: 98.5%;
    float: none;
    border: none;
  }

}
