


body {
  background-color: #B0C4DE;
  color: #4B0082;
  font-family: serif;
  font-size: 1.6875em;
  text-align: center;
  padding: 100px;

}

head {
  font-family: serif;
  font-size: 1.75em;
  text-align: center;
  color: #4B0082;
  margin: 0.5em;
  padding: 100px;

}

table {
  font-family: serif;
  font-size: 1.125em;
  text-align: center;
}

.style1 {
  font-family: serif;
}
