/* Base Styles -------------------- */


body {
  background-color: #33CC99;
  color: #4B0082;
  list-style: none;
  font-family: serif;
  font-size: 1.125em;
  text-align: center;
  margin: 0;
  padding: 0;
}

head {
  font-family: serif;
  font-size: 1.125em;
  text-align: center;
  color: #4B0082;
  padding: 0;
  margin: 0;

}

table {
  font-family: serif;
  font-size: 1.125em;
  text-align: center;
}




/* Navigation -------------------- */

.main-nav {
  background-color: #0099FF;
  box-sizing: border-box;
}

.main-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.main-nav li {
  font-family: sans-serif;
  font-size: 1.125em;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}

.main-nav a {
     text-decoration: none;
     color: #fff;
}

.main-nav a:hover {
      background-color: #00CCFF;
}




/* Content Area-------------------- */

.primarycol {
  display: inline-block;
  width: 50%;
  font-family: sans-serif;
  font-size: 1.125em;
  list-style: circle;
  float: left;
  text-align: left;
}

.secondarycol {
  display: inline-block;
  width: 50%;
  font-family: sans-serif;
  font-size: 1.125em;
  list-style: none;
  float: right;
  text-align: left;
}

.container1 {
  display: inline-block;
  height: 150px;
}

.container1 ul {
  list-style: decimal;
  font-family:sans-serif;
  font-size: 1.125em;
  text-align: left;
}


/* Footer -------------------- */

#footer {
  color: #4B0082;
  text-align: inherit;
}

.container2 {
  margin: 25% 30%;
  padding: 3em;

}


/* Media Queries -------------------- */

@media screen and (min-width: 750px) {
  .main-nav li {
     width: 120px;
     border-bottom: none;
     height: 50px;
     line-height: 50px;
     font-size: 1.25em;
   }

}
